:root {
    --primary: #0d6efd;
    --secondary: #6c757d;
    --success: #198754;
    --info: #0dcaf0;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;

    --pastel-primary: #6ea8fe;
    --pastel-secondary: #dee2e6;
    --pastel-success: #75b798;
    --pastel-info: #6edff6;
    --pastel-warning: #ffda6a;
    --pastel-danger: #ea868f;
    --pastel-light: #f8f9fa;
    --pastel-dark: #dee2e6;

    --deep-primary: #084298;
    --deep-secondary: #495057;
    --deep-success: #0f5132;
    --deep-info: #055160;
    --deep-warning: #664d03;
    --deep-danger: #842029;
    --deep-light: #495057;
    --deep-dark: #343a40;
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg, var(--secondary) 0%, var(--dark) 120%);
}

h1,
canvas {
    margin: auto;
    margin-top: 1rem;
}

#controls {
    height: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#controls>div {
    margin-top: 1rem;
    width: 90vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* #controls>div>* {
    margin-top: 1rem;
} */

.inputs {
    display: flex;
    align-items: center;
}

.inputs>div {
    display: flex;
    flex-direction: column;
}

.inputs>div>button {
    margin: 0;
    padding: 0;
    width: 100%;
    color: white;
    background-color: #343a40;
}

#tutorial {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 2rem;
}

#tutorial>ol {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tutorial>ol>li {
    margin: 1rem;
    width: 100%;
}

button {
    padding: 0.5rem;
    width: min-content;
    border-radius: 0.5rem;
}


@media (min-width: 768px) {
    body {
        display: grid;
        grid-template-columns: 1rem 1fr 2fr 1fr 1rem;
        grid-template-areas:
            ". . title . ."
            ". controls canvas tutorial ."
            ". . . . .";
    }

    h3 {
        margin: 1rem;
    }

    #title {
        grid-area: title;
        text-align: center;
    }

    #canvas {
        grid-area: canvas;
    }

    #tutorial {
        grid-area: tutorial;
    }

    #controls {
        grid-area: controls;
        flex-direction: column;
        justify-content: flex-start;

    }

    #controls>div {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    button {
        margin-bottom: 1rem;
    }
}